.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;

  .card__img {
    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    object-position: center;
    object-fit: cover;
  }

  .card__title {
    color: white;
    font-family: $font-stack;
    font-size: 2rem;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .card__text {
    color: white;
    font-family: $font-stack;
    width: 90%;
  }
}
