@font-face {
	font-family: 'concielianbreak';
	font-display: swap;
	src: url('../fonts/concielianbreak.woff') format('woff'), url('../fonts/concielianbreak.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Wheedlessk';
	font-display: swap;
	src: url('../fonts/Wheedlessk-regular.woff') format('woff'), url('../fonts/Wheedlessk-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'FedrasansproBook';
	font-display: swap;
	src: url('../fonts/FedrasansproBook.woff') format('woff'), url('../fonts/FedrasansproBook.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Triangul';
	font-display: swap;
	src: url('../fonts/Triangul-bold.woff') format('woff'), url('../fonts/Triangul-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
