.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .header__logo {
    display: block;
    width: 30%;
    aspect-ratio: 1/1;
    @media screen and (max-width: 767px){
      width: 50%;
    }
  }

  .header__info {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
    @media screen and (max-width: 767px) {
      justify-content: center;
      flex-direction: column;
    }
  }
  .header__tasting {
    width: 45%;
    font-family: $font-stack;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    vertical-align: top;
    @media screen and (min-width: 1440px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 1rem;
    }
  }
  .header__price {
    width: 45%;
    font-family: $font-stack;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    vertical-align: top;
    @media screen and (min-width: 1440px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 1rem;
    }
  }

  .header__icons {
    display: flex;
    gap: 1rem;

    .header__icon {
      width: 40px;
      aspect-ratio: 1/1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (min-width: 1440px) {
        width: 80px;
      }
    }
  }
}

.icon-vk {
  background-image: url(../img/icons8-vk-48.png);
}
.icon-tg {
  background-image: url(../img/icons8-телеграмма-app-48.png);
}
.icon-inst {
  background-image: url(../img/icons8-instagram-48.png);
}

// @media screen and (min-width: 1280px) {
//   .header__price {
//     h2 {
//       font-size: 42px;
//     }
//   }
//   .header__tasting {
//     h2 {
//       font-size: 3rem;
//     }
//   }
// }
