.header {
  width: 100%;
  height: 100vh;
  background-image: url("@img/header2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  gap: 30px;

  .header__logo {
    display: block;
    width: 25%;
    aspect-ratio: 1/1;
    // @media screen and (min-width: 1440px) {
    //   width: 30%;
    // }
    @media screen and (max-width: 768px) {
      width: 60%;
    }
  }

  .header__text {
    width: 60%;
    color: white;
    text-align: center;
    font-family: $font-stack;
    // font-weight: 500;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
  }
  .header__info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    @media screen and (max-width: 767px) {
      justify-content: center;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  .header__tasting {
    width: 45%;
    font-family: $font-stack;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    @media screen and (min-width: 1440px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .header__price {
    width: 45%;
    font-family: $font-stack;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    @media screen and (min-width: 1440px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .header__icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;

    .header__icon {
      width: 40px;
      display: block;
      aspect-ratio: 1/1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      &:hover {
        opacity: 0.8;
      }
      @media screen and (min-width: 1440px) {
        width: 80px;
      }
    }
  }
}

.icon-vk {
  background-image: url(../img/icons8-vk-48.png);
}
.icon-untapdd {
  background-image: url(../img/untappd.png);
}
.icon-inst {
  background-image: url(../img/icons8-instagram-48.png);
}

// @media screen and (min-width: 1280px) {
//   .header__price {
//     h2 {
//       font-size: 42px;
//     }
//   }
//   .header__tasting {
//     h2 {
//       font-size: 3rem;
//     }
//   }
// }
